.container {
  background-color: grey;
  padding: 10px;
}
.box {
  background-color: yellow;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  grid-column-start: 2;
}
.box-1 {
  background-color: grey;
  border: 1px solid black;
  margin: 2px;
  height: 100px;
  width: 100px;
}
.box-2 {
  background-color: blue;
  border: 1px solid black;
  margin: 2px;
  height: 100px;
  width: 100px;
}
.box-3 {
  background-color: green;
  border: 1px solid black;
  margin: 2px;
  height: 80px;
  width: 80px;
  position: sticky;
  top: 20px;
  left: 20px;
}
.box-4 {
  background-color: purple;
  border: 1px solid black;
  margin: 2px;
  height: 100px;
  width: 100px;
}
.box-5 {
  background-color: orange;
  border: 1px solid black;
  margin: 2px;
  height: 100px;
  width: 100px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

/* a:hover {
  background-color: green;
  font-size: large;
} */
p::first-letter {
  font-size: xx-large;
  color: blue;
}

.important::after {
  content: "*";
  color: red;
  font-weight: bold;
}
