/* .container {
  background-color: red;
  font-size: larger;
  border: 2px solid black;
  padding: 10px;
  color: white;
}
.box {
  background-color: aqua;
  height: 150px;
  width: 1200px;
  border: 1px solid black;
}

@media (max-width: 575px) {
  .container {
    background-color: lightblue;
    color: black;
  }
  .box {
    background-color: red;
    height: 150px;
    width: 200px;
    border: 1px solid black;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .container {
    background-color: lightgreen;
    color: black;
  }
  .box {
    background-color: yellow;
    height: 150px;
    width: 400px;
    border: 1px solid black;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .container {
    background-color: lightyellow;
    color: black;
  }
  .box {
    background-color: green;
    height: 150px;
    width: 600px;
    border: 1px solid black;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .container {
    background-color: lightgray;
    color: black;
  }
}
@media (min-width: 1200px) {
  .container {
    background-color: lightpink;
    color: black;
  }
} */

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box-1 {
  background-color: red;
  height: 150px;
  width: 200px;
  border: 1px solid black;
  z-index: 100;
  position: relative;}
.box-2 {
  background-color: blue;
  height: 150px;
  width: 200px;
  border: 1px solid black;
  position: absolute;
  top: 50px;
  z-index: 25;
  left: 50px;
}
