body {
  font-size: 30px;
}

.container {
  background-color: blueviolet;
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  font-family: ;
}
.box-1 {
  background-color: green;
  margin: 20px;

}
.box-2 {
  background-color: orange;
  margin: 20px;
}
.text {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.text-1 {
 font-size: 10rem;
}